<!--|
/ Intro Section
/=========================================================================================|-->
<section id="intro" class="intro-section overlay-black">

  <div class="overlay-inner">
    <div class="container">

      <!--|Site Brand|-->
      <div class="site-brand">
        <!--|Logo|-->
        <a class="fp-logo" href="#">    
        <%= image_tag 'emotize-logo-footer.png' %>
        </a> <!--|End Logo|-->
        <!--|Social links|-->
      </div> <!--|End Site Brand|-->
      <!--|Intro Content|-->
      <div class="intro-content">
        <div class="row">
          <div class="col-md-8 block-center">
            <h2 class="intro-title wow fadeInDown" data-wow-delay=".1s">Instructions</h2>
                <ol class="emotize">
                  <li class="emotize">A well lit room helps us detect your facial expressions.</li>
                  <li class="emotize">Speak clearly into your computer’s microphone.</li>
                  <li class="emotize">Make sure the camera is pointed straight ahead at your face.</li>
                  <li class="emotize">To start recording your speech, hit the "record" button.</li>
                  <li class="emotize">To stop recording your speech, hit the "stop" recording button.</li>
                  <li class="emotize">If you like what was recorded, then click "Submit."</li>
                  <li class="emotize">If you want to record again, click "Rerecord."</li>
                </ol>
                <button href="#section-1" type="button" class="btn btn-primary btn-lg startbtn upload" >Start</button>
          </div>
        </div>
      </div> <!--|End Intro Content|-->

      <!--|Scroll Down Icon|-->
      <!-- <span class="scroll-down"><i class="ion-ios-arrow-thin-down"></i></span> -->
    </div>
  </div>
</section> <!--|Intro Section|-->



<!--|
/ Overview
/=========================================================================================|-->
<div id="section-1" class="brief">
  <section class="section">
    <div class="container">
      <!--|Section Header|-->
      <header class="section-header text-center wow bounceIn" data-wow-delay=".05s">
        <div class="row">
          <div class="col-md-6 block-center" style="width:80%;">
            <h2 id="upload" class="section-title">Upload Your Video</h2>






<!-- UPLOAD FILE VERSION -->


<%= render 'form' %>
<br>
<br>

<div id="graphdiv" style="width:700px; height:300px; margin: 0 auto"></div>
<script type="text/javascript">

    // containing div
    // var div = document.getElementById("graphdiv");

    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState == 4) {
        if (req.status === 200 || // Normal http
            req.status === 0) { // Chrome w/ --allow-file-access-from-files
          var data = req.responseText;
          drawGraph(data);
        }
      }
    };
    req.open('GET', 'https://s3-us-west-2.amazonaws.com/emotizecsvfile/emotizecsvfile', true);
    req.send(null);
    var drawGraph = function(data) {
      console.log(typeof(data));
      console.log(data);
      var div = document.getElementById("graphdiv");
      g = new Dygraph(
        div, 
        data,
        {
          legend: 'always',
          animatedZooms: true,
          title: 'Emotional Data',
          drawGrid: false,                     
          axisLineWidth: "0",
          gridLinePattern:[0,1,1],

          xAxisLabelWidth: 80,
          axisLabelFontSize: 12,
          width: 800,
          height: 350,
          xValueFormatter: Dygraph.dateString_,
          xValueParser: function(x) { 
              var m = moment(x, "DD-MM-YYYY HH:mm:ss");
              return m.toDate().getTime();
          },
          xTicker: Dygraph.dateTicker
          // xValueFormatter: Dygraph.dateString_,
          // xValueParser: function(x) { return 1000*parseInt(x); },
          // xTicker: Dygraph.dateTicker
        }
      );
    }
  // g = new Dygraph(
    // document.getElementById("graphdiv"),
    // data 

    // CSV or path to a CSV file.
    // "/Users/nicolai/code/projects/emotionAPI_test/public/csv/file.csv"
    
    // "Date,Humid,Temperature\n" +
    // "2008-05-07,76,75\n" +
    // "2008-05-08,80,70\n" +
    // "2008-05-09,90,80\n",
    // {// options go here. See http://dygraphs.com/options.html
    //  legend: 'always',
    //  animatedZooms: true,
    //  title: 'dygraphs chart template',
    //  drawXGrid: true,                     
    //  drawYGrid: false,
    //  gridLinePattern:[0,1,1]
    // }


  // );
</script>


<!-- ENDS FILE UPLOADING VERSION -->



            <!-- <p>Press the record button to start recording</p> -->
          </div>
        </div>
      </header> <!--|End Section Header|-->

      <div class="row">

        <div class="col-md-3 col-sm-3 margin-top-60 fp-text-right">
        </div>

        <div class="col-md-6 text-center">
          <!-- <%= image_tag "webcam-image-1.jpg"%> -->

          <!-- <img src="assets/images/ari-jigar-images/webcam-image-1.jpg" alt=""> -->
        </div>

        <div class="col-md-3 col-sm-3 margin-top-60">
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="recordbutton text-center">
            <a href="#">
            <!-- <%= image_tag "record-button.png"%> -->

            <!-- <img src="assets/images/ari-jigar-images/record-button.png" alt="" width="100px"> -->
            </a>
          </div>
        </div>
      </div>


    </div>
  </section>






