<!--|
/ Intro Section
/=========================================================================================|-->
<section id="intro" class="intro-section overlay-black">

  <div class="overlay-inner" style="padding: 33px 0 0px;">
    <div class="container">

      <!--|Site Brand|-->
      <div class="site-brand" style="margin-bottom: 40px">
        <!--|Logo|-->
        <a class="fp-logo" href="#">    
        <%= image_tag 'emotize-logo-footer.png' %>
        </a> <!--|End Logo|-->
      </div> <!--|End Site Brand|-->
      <!--|Intro Content|-->


      <!--|Scroll Down Icon|-->
      <!-- <span class="scroll-down"><i class="ion-ios-arrow-thin-down"></i></span> -->
    </div>
  </div>
</section> <!--|Intro Section|-->



<!--|
/ Overview
/=========================================================================================|-->
 <div id="section-1" class="brief">
  <section class="section">
    <div class="container">
      <div class="intro-content">
        <div class="row">
          <div class="col-md-8 block-center">
            <h2 class="intro-title wow fadeInDown" data-wow-delay=".1s" style="margin: -35px 0 20px;">Instructions</h2>
                <ol class="emotize">
                  <li class="emotize"> <b>Lighting</b> - A well lit room helps us detect your facial expressions.</li>
                  <li class="emotize"> <b>Enunciate</b> - Speak clearly into your computer’s microphone.</li>
                  <li class="emotize"><b>Face Angle </b>- Make sure the camera is pointed straight ahead at your face.</li>
                  <li class="emotize"><b>Record</b> - Record your speech.</li>
                  <li class="emotize"><b>Upload</b> - Upload your video file. Preferably an mp4 file.</li>
                  <!-- <li class="emotize">If you like what was recorded, then click "Submit."</li> -->
                  <li class="emotize"><b>Sit Tight </b>- We'll be splicing, dicing, processing, and analyzing your facial expressions!</li>
                </ol>
                <br>
                <%= render 'form' %>
<!--                 <button href="#section-1" type="button" class="btn btn-primary btn-lg startbtn upload" >Start</button>
                <script type="text/javascript">
                  console.log('button script loaded.');
                  $('.upload').click(function(event){
                    console.log("button clicked");
                      $('html, body').animate({
                          scrollTop: $( $.attr(this, 'href') ).offset().top
                      }, 500);
                      event.preventDefault();
                  });
                </script> -->
          </div>
        </div>
      </div> <!--|End Intro Content|-->






<!-- UPLOAD FILE VERSION -->

<!-- 
<br>
<br> -->
<!-- 
<div id="graphdiv" style="width:700px; height:300px; margin: 0 auto"></div>
<script type="text/javascript">

    // containing div
    // var div = document.getElementById("graphdiv");

    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState == 4) {
        if (req.status === 200 || // Normal http
            req.status === 0) { // Chrome w/ -allow-file-access-from-files
          var data = req.responseText;
          drawGraph(data);
        }
      }
    };
    req.open('GET', 'https://s3-us-west-2.amazonaws.com/emotizecsvfile/emotizecsvfile', true);
    req.send(null);
    var drawGraph = function(data) {
      console.log(typeof(data));
      console.log(data);
      var div = document.getElementById("graphdiv");
      g = new Dygraph(
        div, 
        data,
        {
          legend: 'always',
          animatedZooms: true,
          title: 'Emotional Data',
          drawGrid: false,                     
          axisLineWidth: "0",
          gridLinePattern:[0,1,1],

          xAxisLabelWidth: 80,
          axisLabelFontSize: 12,
          width: 800,
          height: 350,
          xValueFormatter: Dygraph.dateString_,
          xValueParser: function(x) { 
              var m = moment(x, "DD-MM-YYYY HH:mm:ss");
              return m.toDate().getTime();
          },
          xTicker: Dygraph.dateTicker
          // xValueFormatter: Dygraph.dateString_,
          // xValueParser: function(x) { return 1000*parseInt(x); },
          // xTicker: Dygraph.dateTicker
        }
      );
    }
  // g = new Dygraph(
    // document.getElementById("graphdiv"),
    // data 

    // CSV or path to a CSV file.
    // "/Users/nicolai/code/projects/emotionAPI_test/public/csv/file.csv"
    
    // "Date,Humid,Temperature\n" +
    // "2008-05-07,76,75\n" +
    // "2008-05-08,80,70\n" +
    // "2008-05-09,90,80\n",
    // {// options go here. See http://dygraphs.com/options.html
    //  legend: 'always',
    //  animatedZooms: true,
    //  title: 'dygraphs chart template',
    //  drawXGrid: true,                     
    //  drawYGrid: false,
    //  gridLinePattern:[0,1,1]
    // }


  // );
</script>
 -->

<!-- ENDS FILE UPLOADING VERSION -->



    </div>
  </section>






