ol.emotize {
    font-size: 24px;
    text-align: left;
    font-weight: 700px;
}

li.emotize {
	padding-bottom: 10px;
}

.centernow {
	text-align: center;
}

.recordbutton {
	padding-top: 30px;
}

.startbtn {
	margin-top: 10px;
}

/*
# changed style.css .intro-section to instructions-bg.jpg
--------------------------------------------------------------*/